.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "map_area"
      "lower_area";
  }
  
  .map_area { grid-area: map_area; }
  
  .lower_area {  display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 0.5fr 1.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "display_area"
      "display_area"
      "display_area";
    grid-area: lower_area;
  }
  
  
  
  .display_area {  display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.4fr 2.2fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "airspeed_area heading_area altitude_area"
      "airspeed_area cdi_display altitude_area"
      "airspeed_area distance_area altitude_area";
    grid-area: display_area;
  }
  
  .airspeed_area { grid-area: airspeed_area; }
  
  .altitude_area { grid-area: altitude_area; }
  
  .heading_area { grid-area: heading_area; }
  
  .distance_area { grid-area: distance_area; }
  
  .cdi_display { grid-area: cdi_display; }
  
  
  html, body , .container {
    height: 100%;
    margin: 0;
    background-color: black;
  }


  #map {
    width: 100%;
    height: 500px;
  }



  
  /* For presentation only, no need to copy the code below */
  
  .lower_area * {
    border: 1px solid red;
    position: relative;
  }
  
  .container *:after {
    /* content:attr(class); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .locate_btn {
    position: absolute;
    bottom: 0;
    z-index: 500;
    font-size: 30px;
    transform: rotate(-90deg);
    height: 55px;
    width: 55px;
    margin-left: 15px;
    margin-bottom: 15px;
    color: black;
}

.locate_btn_selected {
    position: absolute;
    bottom: 0;
    z-index: 500;
    font-size: 30px;
    transform: rotate(-90deg);
    height: 55px;
    width: 55px;
    color: blue;
}

.stop_btn {
    position: absolute;
    bottom: 0;
    z-index: 500;
    font-size: 20px;
    font-weight: bolder;
    height: 55px;
    width: 55px;
    margin-left: 15px;
    margin-bottom: 75px;
    color: black;
}